name: Deploy Static Page to GH Pages
on:
  push:
    branches:
      - main
jobs:
  deploy:
    runs-on: ubuntu-latest
    steps:
      - uses: actions/checkout@v4

      - name: Setup node env
        uses: actions/setup-node@v2.1.2
        with:
          node-version: '18'

      - name: Install dependencies
        run: npm install

      - name: Build App
        run: npm run generate

      - name: Deploy to GH Pages
        uses: peaceiris/actions-gh-pages@v3
        with:
          github_token: ${{ secrets.GITHUB_TOKEN }}
          publish_dir: ./dist
